* {
	margin : 0;
	padding : 0;
	text-decoration: none;
}
#app {
	display:flex;
	justify-content: center;
}

.container {
	max-width: 700px;
	width: 80vw;
	text-align: center;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
header {
 	width: 100%;
}
.pokemons {
  	width: 100%;
}
.buttons {
  	width: 100%;
}